.index {
  background-image: url("../images/qbkls.png");
}

h1, label, h5, button {
  font-family: 'Koulen', cursive;
}

#prompt-span {
  color: black;
}

#split-span {
  color: red;
}

.robot {
  position: relative;
  height: 100px;
  width: 150px;
  left: 5%;
}

.robot-head {
  position: absolute;
  width: 75px;
  height: 40px;
  bottom: 60px;
  background: #7CB9E8;
  border: 1px solid blue;
  border-radius: 85px/ 60px;
} 

.robot-neck {
  position: absolute;
  width: 15px;
  height: 5px;
  bottom: 55px;
  left: 30px;
  background: #7CB9E8;
  border: 1px solid blue;
} 

.robot-eyes{
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: 10px;
  background: radial-gradient(circle, yellow 15%, transparent 40%), #cc5;
  border: 1px solid blue;
  border-radius: 100%;
}

.robot-eyes.left {
  left: 10px;
}

.robot-eyes.right {
  right: 10px;
}

.robot-body {
  position: absolute;
  width: 50px;
  height: 30px;
  bottom: 25px;
  left: 12.5px;
  background: #7CB9E8;
  border: 1px solid blue;
}

.robot-hands {
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: 30px;
  background: #7CB9E8;
  border: 1px solid blue;
  border-radius: 100%;
}

.robot-hands.left {
  left: 0px;
}

.robot-hands.right {
  left: 55px;
}

.robot-legs {
  position: absolute;
  width: 15px;
  height: 25px;
  bottom: 0px;
  background: #7CB9E8;
  border: 1px solid blue;
}

.robot-legs.left {
  left: 20px;
}

.robot-legs.right {
  left: 40px;
}

.quote {
  width: 70%;
  margin: 2em auto;
  background: #7CB9E8;
  padding: 2em;
  text-align: center;
  font-weight: 900;
  color: #fff;
  position: relative;
}

.shp1:before {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #7CB9E8;
  border-top: 10px solid #7CB9E8;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 30px;
}