.index {
  background-image: url("../images/qbkls.png");
}

h1, label, h5 {
  font-family: 'Koulen', cursive;
}

.robot {
  position: relative;
  height: 100px;
  width: 150px;
  left: 5%;
}

.robot-head {
  position: absolute;
  width: 75px;
  height: 40px;
  bottom: 60px;
  background: #7CB9E8;
  border: 1px solid blue;
  border-radius: 85px/ 60px;
} 

.robot-neck {
  position: absolute;
  width: 15px;
  height: 5px;
  bottom: 55px;
  left: 30px;
  background: #7CB9E8;
  border: 1px solid blue;
} 

.robot-eyes.left {
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: 10px;
  left: 10px;
  background: radial-gradient(circle, yellow 15%, transparent 40%), #cc5;
  border: 1px solid blue;
  border-radius: 100%;
}

.robot-eyes.right {
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: 10px;
  right: 10px;
  background: radial-gradient(circle, yellow 15%, transparent 40%), #cc5;
  border: 1px solid blue;
  border-radius: 100%;
}

.quote {
  width: 70%;
  margin: 2em auto;
  background: #7CB9E8;
  padding: 2em;
  text-align: center;
  font-weight: 900;
  color: #fff;
  position: relative;
}

.shp1:before {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #7CB9E8;
  border-top: 10px solid #7CB9E8;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 30px;
}